@import 'shared.css';

.fullscreen {
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blur {
    backdrop-filter: blur(10px);
}

.popupOuter {
    background: var(--primary);
    border-radius: var(--radius-larger);
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 80%;
    max-height: 80%;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
}

.popupInner {
    padding: var(--spacing-largest);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: var(--spacing-largest);
    max-height: 100%;
    max-width: 100%;
}

.popupText {
    padding: var(--spacing-largest);
    white-space: pre-wrap;
    word-break: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 1;
}

.popupText * {
    margin: 0;
}

.popupButtons {
    display: flex;
    column-gap: var(--spacing-smaller);
}

.popupButtons button {
    flex: 1;
    flex-basis: 100%;
}

.fixedSize {
    width: 40em;
    height: 60em;
}

.about {
    align-items: center;
    flex-direction: row;

    h3, h2 {
        margin: 0
    }
    h3:last-of-type {
        margin-bottom: var(--spacing-largest);
    }
}

@media(max-width: 600px) {
    .about {
        flex-direction: column;
    }
}

.logo { /* give depth */
    width: 256px;
    height: 256px;
    aspect-ratio: 1;
    min-width: 256px;
    min-height: 256px;
    position: relative;

    transition: 0.1s ease;

    transform: rotateX(calc(var(--dx, 0deg) + 25deg)) rotateY(calc(var(--dy, 0deg) + 45deg));
    transform-style: preserve-3d;

    --face-size: 128px;
    --half-face-size: calc(var(--face-size) / 2);
    --border: calc(var(--face-size) / 4);
    --half-border: calc(var(--border) / 2);
    --vertical-offset: -20px;

    --primary-logo: #b396e4;
    --dim-logo: #281a3e;
    --fade-out: #00000000;

    > div {
        width: var(--face-size);
        height: var(--face-size);
        position: absolute;
        transform-style: preserve-3d;
    }

    > div:first-of-type {
        background: linear-gradient(to bottom right, var(--primary-logo), var(--dim-logo));
        transform: rotateY(-90deg) translateX(calc(-1 * var(--half-face-size))) translateY(var(--vertical-offset));
        top: 20%;
        left: calc(50% - var(--half-face-size));

        > div:first-of-type {
            transform: rotateX(90deg) translateZ(var(--half-border)) translateY(var(--half-border));
            background: linear-gradient(to bottom right, var(--primary-logo), var(--fade-out));
            width: calc(var(--face-size) + var(--border));
            height: var(--border);
        }

        > div:nth-of-type(2) {
            transform: translateY(calc(-1 * var(--border))) translateX(calc(-1 * var(--half-border))) translateZ(var(--half-border)) rotateY(90deg);
            background: linear-gradient(to bottom left, var(--primary-logo), var(--fade-out));
            height: calc(var(--face-size) + var(--border));
            width: var(--border);
        }
    }

    > div:nth-of-type(2) {
        background: linear-gradient(to bottom left, var(--primary-logo), var(--dim-logo));
        transform: translateY(var(--vertical-offset));
        top: 20%;
        left: 50%;

        > div:first-of-type {
            transform: rotateX(90deg) translateZ(var(--half-border)) translateY(var(--half-border)) translateX(calc(-1 * var(--border)));
            background: linear-gradient(to bottom left, var(--primary-logo), var(--fade-out));
            width: calc(var(--face-size) + var(--border));
            height: var(--border);
        }

        > div:nth-of-type(2) {
            transform: translateY(calc(-1 * var(--border))) translateX(calc(var(--face-size) - var(--half-border))) translateZ(var(--half-border)) rotateY(90deg);
            background: linear-gradient(to bottom left, var(--primary-logo), var(--fade-out));
            height: calc(var(--face-size) + var(--border));
            width: var(--border);
        }
    }

    > div:nth-of-type(3) {
        transform: rotateX(-90deg) translateY(var(--half-face-size)) translateZ(var(--vertical-offset));
        left: 50%;
        top: calc(20% + var(--half-face-size));
        background: linear-gradient(to top left, var(--primary-logo), var(--dim-logo));

        > div:first-of-type {
            transform: rotateX(90deg) translateZ(calc(var(--half-border) - var(--face-size))) translateY(calc(var(--half-border) - 1px)) translateX(calc(-1 * var(--border)));
            background: linear-gradient(to bottom left, var(--primary-logo), var(--fade-out));
            width: calc(var(--face-size) + var(--border));
            height: var(--border);
        }

        > div:nth-of-type(2) {
            transform: translateY(calc(-2 * var(--border))) translateX(calc(var(--face-size) - var(--half-border))) translateZ(calc(var(--half-border) - 1px)) rotateY(90deg);
            background: linear-gradient(to top left, var(--primary-logo), var(--fade-out));
            height: calc(var(--face-size) + var(--border));
            width: var(--border);
        }
    }
}