@import 'shared.css';

.fullscreen {
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dim {
    background-color: var(--secondary);
    opacity: 0.7;
}

.popupOuter {
    background: var(--primary);
    border-radius: var(--radius-larger);
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 60%;
}

.popupInner {
    padding: var(--spacing-largest);
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing);
}

.popupText {
    white-space: pre-wrap;
    word-break: break-word;
}

.popupButtons {
    display: flex;
    column-gap: var(--spacing-smaller);
}

.popupButtons button {
    flex: 1;
    flex-basis: 100%;
}