@import 'shared.css';

.fullscreen {
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blur {
    backdrop-filter: blur(10px);
}

.popupOuter {
    background: var(--primary);
    border-radius: var(--radius-larger);
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 80%;
    max-height: 80%;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
}

.popupInner {
    padding: var(--spacing-largest);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: var(--spacing-largest);
    max-height: 100%;
    max-width: 100%;
}

.popupText {
    padding: var(--spacing-largest);
    white-space: pre-wrap;
    word-break: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 1;
}

.popupText * {
    margin: 0;
}

.popupButtons {
    display: flex;
    column-gap: var(--spacing-smaller);
}

.popupButtons button {
    flex: 1;
    flex-basis: 100%;
}

.fixedSize {
    width: 40em;
    height: 60em;
}

.about {
    align-items: center;
    flex-direction: row;

    h3, h2 {
        margin: 0
    }
    h3:last-of-type {
        margin-bottom: var(--spacing-largest);
    }

    h6 {
        margin-top: var(--spacing-largest);
        margin-bottom: 0;
        max-width: 180px;
    }
}

@media(max-width: 600px) {
    .about {
        flex-direction: column;
    }
}

.logoWrapper {
    touch-action: none;
}

.logo {
    pointer-events: none;
    width: 256px;
    height: 256px;
    aspect-ratio: 1;
    min-width: 256px;
    min-height: 256px;
    position: relative;

    transition: 1s ease-out 100ms;

    &.no-transition {
        transition: none;
    }

    &.quick {
        transition: 0.1s ease-in-out;
    }

    transform: rotateX(calc(var(--dx, 0deg) - 25deg)) rotateY(calc(var(--dy, 0deg) - 45deg)) translateZ(calc(-1 * var(--half-face-size))) translateX(calc(-1 * var(--half-face-size))) translateY(calc(-1 * var(--half-face-size)));
    transform-style: preserve-3d;

    --face-size: 128px;
    --half-face-size: calc(var(--face-size) / 2);
    --border: calc(var(--face-size) / 4);
    --half-border: calc(var(--border) / 2);

    --primary-logo: #b396e4;
    --dim-logo: #281a3e;
    --line-colour: #fe6b8b;
    --fade-out: #00000000;

    > div {
        width: var(--face-size);
        height: var(--face-size);
        position: absolute;
        transform-style: preserve-3d;
        left: 50%;
        top: 47%;
    }

    .wall {
        background: linear-gradient(to bottom left, var(--primary-logo), var(--dim-logo));

        &:nth-child(1) {
            transform-origin: left;
            transform: rotateY(-90deg);
        }

        &:nth-child(3) {
            transform-origin: bottom;
            transform: rotateX(-90deg);
        }
    }

    .corner {
        width: calc(var(--face-size) + var(--border));
        height: calc(var(--face-size) + var(--border));

        /*border-bottom-left-radius: 30px;*/
        clip-path: polygon(0 0, var(--border) 0, var(--border) calc(100% - var(--border)), 100% calc(100% - var(--border)), 100% 100%, 0% 100%);
        background: linear-gradient(to bottom left, var(--primary-logo) 50%, var(--dim-logo));

        &:nth-child(4) {
            transform: translateZ(var(--face-size)) translateX(calc(-1 * var(--border)));
        }

        &:nth-child(5) {
            transform-origin: top;
            transform: rotateX(90deg) rotateZ(90deg) translateX(calc(1.5 * var(--border))) translateY(calc(-1.5 * var(--border)));
        }

        &:nth-child(6) {
            transform-origin: right;
            transform: rotateY(-90deg) translateX(var(--face-size)) translateZ(var(--border));
        }
    }

    > .line {
        transform-origin: bottom;
        transform: rotateX(-90deg) translateZ(calc(-1 * var(--half-face-size)));

        display: grid;
        grid-template-columns: repeat(16, 1fr);

        --block-height: 20px;

        > div {
            transform: translateZ(15px);
            background: var(--line-colour);
            animation: wave 2.5s ease-in-out infinite;
            animation-delay: calc(var(--i) * 0.2s);
            transform-style: preserve-3d;

            &::before, &::after {
                content: '';
                position: absolute;
                top: 0;
            }

            &::before {
                left: 0;
                width: 100%;
                height: var(--block-height);
                transform-origin: top;
                transform: rotateX(90deg);
                background: linear-gradient(to bottom, var(--line-colour), var(--dim-logo));
            }

            &::after {
                width: var(--block-height);
                height: 100%;
                right: 0;
                transform-origin: right;
                transform: rotateY(90deg);
                background: linear-gradient(to left, var(--line-colour), var(--dim-logo));
            }
        }
    }
}

@keyframes wave {
    0%, 100% {
        transform: translateZ(15px);
    }
    50% {
        transform: translateZ(-35px);
    }
}
