:root {
    --primary: #1e1f22;
    --secondary: #2b2d30;
    --tertiary: #3d3f42;
    --quaternary: #4c4d53;
    --text-primary: #b6b6b6;
    --disabled: #686868;

    --radius-smaller: 5px;
    --radius: 10px;
    --radius-larger: 15px;

    --spacing: 5px;
    --spacing-smaller: 3px;
    --spacing-larger: 8px;
    --spacing-largest: 12px;

    --border-width: 3px;
}

button.altButton {
    background-color: var(--quaternary);
    border-radius: 0;
    padding: var(--spacing-smaller) var(--spacing-larger);
}
@media (hover: hover) {
    button.altButton:hover {
        background-color: var(--disabled);
    }
}

button.altButton:active {
    background-color: var(--quaternary);
}

.standardButton {
    outline: none;
    border: none;
    border-radius: var(--radius);
    background-color: var(--secondary);
    cursor: pointer;
    transition: 0.1s;
    padding: var(--spacing-larger);
}

@media (hover: hover) {
    .standardButton:hover {
        background-color: var(--tertiary);
    }
}

.standardButton:active {
    background: var(--quaternary);
}

.standardButton:disabled {
    cursor: not-allowed;
    color: var(--disabled);
}

@media (hover: hover) {
    .standardButton:disabled:hover {
        background-color: var(--primary);
    }
}

.hidden, .hidden * {
    display: none;
}

.removePointerEvents, .removePointerEvents * {
    pointer-events: none;
}

.crosshair_hover {
    cursor: crosshair;
}

.not_allowed, .not_allowed * {
    cursor: not-allowed;
}

.lowOpacity {
    opacity: 0.2;
}

.magnify {
    position: absolute;
    border: 4px solid #000;
    border-radius: 50%;
    width: 8em;
    height: 8em;
    overflow: hidden;
    z-index: 98;
    cursor: none;
}

.magnify::before, .magnify::after {
    content: '';
    position: absolute;
    background: red;
}

.magnify::before {
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
    z-index: 98;
}

.magnify::after {
    width: 100%;
    height: 1px;
    left: 0;
    top: 50%;
    z-index: 98;
}

.magnify img {
    position: absolute;
}

svg text {
    fill: red;
}

.selectedImage {
    outline: 5px solid red;
}