name: Build and push latest main to pages

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - '.github/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout main repo
      uses: actions/checkout@v4
      with:
        path: usytrace
        ref: main
        persist-credentials: false

    # - name: Check if recompile needed
    #   uses: dorny/paths-filter@v3
    #   id: changes
    #   with:
    #     working-directory: usytrace
    #     filters: |
    #       recompile:
    #         - 'src/imageTracer.cpp'
    #         - 'src/worker.js'

    # Force re-compilation temporarily
    - name: Set recompile output
      id: changes
      run: echo "recompile=true" >> $GITHUB_OUTPUT

    - name: Set up Emscripten
      if: steps.changes.outputs.recompile == 'true'
      run: |
        git clone https://github.com/emscripten-core/emsdk.git
        cd emsdk
        ./emsdk install 4.0.22
        ./emsdk activate 4.0.22
    
    - name: Install newer CMake version
      if: steps.changes.outputs.recompile == 'true'
      run: |
        version=4.2.1
        wget https://github.com/Kitware/CMake/releases/download/v${version}/cmake-${version}-linux-x86_64.sh
        chmod +x cmake-${version}-linux-x86_64.sh
        mkdir $(pwd)/cmake
        ./cmake-${version}-linux-x86_64.sh --skip-license --prefix=$(pwd)/cmake
        echo "$(pwd)/cmake/bin" >> $GITHUB_PATH

    - name: Compile WASM and worker js
      if: steps.changes.outputs.recompile == 'true'
      run: |
        source ./emsdk/emsdk_env.sh
        cd ./usytrace
        npm run build:wasm

    - name: Minify js
      working-directory: usytrace
      run: |
        npm run build:js

    - name: Minify css
      working-directory: usytrace
      run: |
        npm run build:css
    
    - name: Copy all other distributables
      working-directory: usytrace
      run: |
        npm run build:dist

    - name: Checkout github pages repo
      uses: actions/checkout@v4
      with:
        repository: usyless/usyless.github.io
        token: ${{ secrets.BOT_TOKEN }}
        path: usyless.github.io
        ref: main
        persist-credentials: true

    - name: Move built files to pages repo (complete)
      if: steps.changes.outputs.recompile == 'true'
      run: |
        rm usyless.github.io/trace/*
        cp -rf usytrace/dist/* usyless.github.io/trace/

    - name: Move built files to pages repo (excluding wasm)
      if: steps.changes.outputs.recompile == 'false'
      run: |
        mkdir usytrace_temp
        cp usyless.github.io/trace/usytrace.js usytrace_temp/
        cp usyless.github.io/trace/usytrace.wasm usytrace_temp/

        rm usyless.github.io/trace/*
        cp usytrace_temp/usytrace.js usyless.github.io/trace/
        cp usytrace_temp/usytrace.wasm usyless.github.io/trace/

        cp -rf usytrace/dist/* usyless.github.io/trace/
    
    - name: Commit and push
      working-directory: usyless.github.io
      run: |
        git config --global user.name 'usy [github actions]'
        git config --global user.email 'github-actions@github.com'
        git add trace
        git commit -m 'Update trace from usytrace'
        git push
